@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500|Vollkorn&display=swap");

header {
  background: white;
  .header-wrapper {
    margin: 0 auto;
    width: 1060px;
  }
  .main-header {
    display: grid;
    grid-template:
      "header-areaA header-areaB header-areaC" 64px
      / 22% minmax(auto, 376px) 1fr;
    grid-column-gap: 50px;

    .logo {
      grid-area: header-areaA;
      &__title {
        padding: 2px 24px 0 0;
        font-family: 'Vollkorn';
        font-size: 48px;
      }
    }

    .site_description {
      padding: 8px 20px 0 20px;
      grid-area: header-areaB;
    }

    .right-list {
      grid-area: header-areaC;
      display: flex;
      &__item {
        position: relative;
        z-index: 0;
        ul {
          display: none;
          position: absolute;
          z-index: 5;
          background: white;
          box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
          li {
            padding-left: 18px;
          }
        }
      }
      .post-work-ddmenu {
        min-width: 140px;
        padding-left: 5px;
        margin: 12px 12px 0 0;
        font-family: 'Noto Sans JP';
        font-weight: 500;
        cursor: default;
        .post-work-box {
          padding: 10px 0 10px 16px;
          border-radius: 100vw;
          background: $base-color;
          &:hover {
            background: $base-gray-color;
            transition: 0.3s;
          }
          &:hover > ul {display: block;}
        }

        .font-awesome-caret-down {
          width: 15px;
          font-size: 20px;
          color: red;
        }
        .post-work-list {
          top: 45px;
          left: 5px;
          &__item {
            color: $light-text-color;
            height: 40px;
            &:hover {
              display: block;
              background: $light-blue-color;
            }
            &:hover > ul {display: block;}
            &__novel-list {
              top: 0;
              left: 136px;
              &__item {
                width: 135px;
                color: $light-link-color;
                &:hover{
                  background: $base-gray-color;
                  color: $link-hover-color;
                }
              }
            }
            &__illustration-list {
              top: 0;
              left: 136px;
              width: 190px;
              &__item {
                width: 190px;
                color: $light-link-color;
                &:hover{
                  background: $base-gray-color;
                  color: $link-hover-color;
                }
              }
            }
            &__comic-list {
              top: 0;
              left: 136px;
              &__item {
                width: 135px;
                color: $light-link-color;
              }
              a {
                li:hover {
                  background: $base-gray-color;
                  color: $link-hover-color;
                }
              }
            }
            .font-awesome {
              &-book {
                width: 15px;
                font-size: 14px;
              }
              &-image {
                width: 15px;
                font-size: 14px;
              }
              &-clone {
                width: 15px;
                font-size: 14px;
              }
            }
          }
        }
      }

      .direct-message {
        margin: 15px 10px 15px 10px;
        .direct-message--link {
          display: inline-block;
          width: 40px;
          height: 40px;
          line-height: 46px;
          text-align: center;
          border-radius: 50%;
          &:hover {background: $base-color;}
          .font-awesome-envelope {
            color: silver;
            font-size: 20px;
          }
        }
      }

      .user-ddmenu {
        margin: 12px 0px 12px 12px;
        &:hover > ul {display: block;}
        .user-icon {
          background: $base-color;
          border-radius: 50%;
        }
        .user-detail-list {
          top: 41px;
          left: -18px;
          &__item {
            color: $light-text-color;
            &:hover {
              background: $ivory-color;
            }
          }
        }
      }

      ul {
        width: 135px;
        height: 146px;
        font-weight: 400;
        padding: 10px 0px 16px 0px;
        border-radius: 8px;
        border-color: $ddmenu-border-color;
        letter-spacing: 1px;
        li {
          height: 40px;
          line-height: 40px;
        }
      }
    }
  }

  .small-header {
    height: 40px;
    border-top: 1px solid $base-color;
    .left-list {
      display: flex;
    }
  }
}
