* {
  box-sizing: border-box;
}

body {
  background: $base-background-color;
  color: $base-black-color;
}

a {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}