.btn {
  display: inline-block;
  border: 1px solid;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn-hidden {
  padding: 0;
  border: 0;
}

.btn-primary {
  @include hoverChangeColor(
    $color: white,
    $backColor: $marine-color,
    $borderColor: $marine-color,
    $hoverColor: $marine-color,
    $hoverBackColor: white,
    $hoverBorderColor: $marine-color
  );
}

.btn-gray {
  @include hoverChangeColor(
    $color: white,
    $backColor: rgb(149, 149, 149),
    $borderColor: rgb(149, 149, 149),
    $hoverColor: rgb(149, 149, 149),
    $hoverBackColor: white,
    $hoverBorderColor: rgb(149, 149, 149)
  );
}

.btn-red {
  @include hoverChangeColor(
    $color: white,
    $backColor: red,
    $borderColor: red,
    $hoverColor: red,
    $hoverBackColor: white,
    $hoverBorderColor: red
  );
}

.m-toggle-public-button {
  display: inline-block;
  cursor: pointer;
  color: $light-link-color;
  &:hover {
    color: $link-color;
  }
}

.m-toggle-list-button {
  display: inline-block;
  color: lightgray;
  cursor: pointer;
  &:hover {
    color: $gray-text-color;
  }
  &.is-current {
    color: $base-black-color;
    border-top: 6px solid $base-color;
  }
}