.single-work-operation-list {
  display: flex;
  &__item {
    a {
      padding: 5px 10px 5px 10px;
      border-left: 1px solid $base-border-color;
      color: $light-link-color;
      &:hover {
        color: $light-green-color;
      }
    }
    &:last-child {
      a {
        border-right: 1px solid $base-border-color;
      }
    }
  }
}