@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500|Vollkorn&display=swap");

.main-header {
  .header-wrapper {
    display: grid;
    grid-template:
      "main-header-areaA main-header-areaB main-header-areaC" 84px
      / 22% minmax(auto, 376px) 1fr;
    grid-column-gap: 50px;

    .logo {
      grid-area: main-header-areaA;
      &__title {
        padding: 10px 24px 0 0;
        font-family: 'Vollkorn';
        font-size: 48px;
        a {
          color: $base-color;
        }
      }
    }

    .site-description {
      padding: 16px 20px 0 20px;
      grid-area: main-header-areaB;
    }

    .right-list {
      grid-area: main-header-areaC;
      display: flex;
      &__item {
        position: relative;
        z-index: 0;
        ul {
          display: none;
          position: absolute;
          z-index: 5;
          background: white;
          box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
          li {
            padding-left: 18px;
          }
        }
      }
      .post-work-ddmenu {
        min-width: 140px;
        padding-left: 5px;
        margin: 20px 12px 0 0;
        font-family: 'Noto Sans JP';
        font-weight: 500;
        cursor: default;
        .post-work-box {
          padding: 10px 0 10px 16px;
          border-radius: 100vw;
          background: $base-background-color;
          &:hover {
            background: $light-silver-color;
          }
          &:hover > ul {display: block;}
          .space-height {
            position: absolute;
            top: 45px;
            left: 5px;
            border: none;
            box-shadow: none;
            background: white;
            padding: 0;
            margin: 0;
            height: 8px;
          }
        }

        .font-awesome-caret-down {
          width: 15px;
          font-size: 20px;
          color: red;
        }
        .post-work-list {
          top: 53px;
          left: 5px;
          &__item {
            color: $light-text-color;
            height: 40px;
            &:hover {
              display: block;
              background: $light-blue-color;
            }
            &:hover > ul {display: block;}
            &__novel-list {
              top: 0;
              left: 135px;
              &__item {
                width: 135px;
                color: $gray-text-color;
                &:hover{
                  background: $ivory-color;
                  color: $light-text-color;
                }
              }
            }
            &__illustration-list {
              top: 0;
              left: 135px;
              width: 190px;
              &__item {
                width: 190px;
                color: $gray-text-color;
                &:hover{
                  background: $ivory-color;
                  color: $light-text-color;
                }
              }
            }
            &__comic-list {
              top: 0;
              left: 135px;
              &__item {
                width: 135px;
                color: $gray-text-color;
              }
              a {
                li:hover {
                  background: $ivory-color;
                  color: $light-text-color;
                }
              }
            }
            .font-awesome {
              &-book {
                width: 15px;
                font-size: 14px;
              }
              &-image {
                width: 15px;
                font-size: 14px;
              }
              &-clone {
                width: 15px;
                font-size: 14px;
              }
            }
          }
        }
      }

      .direct-message {
        margin: 32px 19px 24px 19px;
        .direct-message--link {
          display: inline-block;
          width: 26px;
          height: 24px;
          text-align: center;
          .font-awesome-envelope {
            color: red;
            font-size: 26px;
            &:not(:hover) {font-weight: 200;}
          }
        }
      }

      .user-ddmenu {
        margin: 24px 0px 12px 12px;
        &:hover > ul {display: block;}
        .user-icon {
          background: $base-background-color;
          border-radius: 50%;
        }
        .space-height {
          position: absolute;
          top: 41px;
          left: -18px;
          border: none;
          box-shadow: none;
          background: white;
          padding: 0;
          margin: 0;
          height: 8px;
        }
        .user-detail-list {
          top: 49px;
          left: -18px;
          &__item {
            color: $gray-text-color;
            &:hover {
              color: $light-text-color;
              background: $ivory-color;
            }
          }
        }
      }

      ul {
        width: 135px;
        height: 146px;
        font-weight: 400;
        padding: 11px 0px 16px 0px;
        border-radius: 8px;
        border-color: $ddmenu-border-color;
        letter-spacing: 1px;
        li {
          height: 40px;
          line-height: 40px;
        }
      }
    }
  }
}