@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500|Vollkorn&display=swap");

.main-header {
  position: relative;
  z-index: 10;
  background: white;
  .l-header-wrapper {
    @import 'components/*';
  }
}