.l-flex-box
  = render 'user', user: @user
  .user-profile-box
    %h4 プロフィール
    - if @user.profile.present?
      %p.m-back--white.m-border-all-1= @user.profile
    - else
      %p.m-back--white.m-border-all-1 未設定です