* {
  box-sizing: border-box;
}

body {
  background: $base-background-color;
  color: $base-black-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}

main {
  padding: 50px 0 50px 0;
  width: 1060px;
  margin: 0 auto;
}

footer {
  margin-top: auto;
  height: 120px;
  background: $base-black-color;
}

input[type="text"] {
  @include textField;
}

textarea {
  @include textField;
}

select {
  cursor: pointer;
  outline: none;
}