.main_contents .l-center-container {
  width: 634px;
  margin: 0 auto;
}

.read_contents .l-center-container {
  width: 740px;
  margin: 0 auto;
}

.l-main-container {
  width: 800px;
  margin: 0 0 0 36px;
}