$base-color: #f1f3f5;
$base-black-color: #333;
$base-gray-color: #eee;
$light-text-color: rgba(0, 0, 0, 0.64);
$link-color: #0099e8;
$light-link-color: #b3d4fc;
$link-hover-color: #4689FF;
$light-blue-color: #d8eefe;
$ivory-color: #f8f5f2;
$small-header-under-color: #64F9C1;
$ddmenu-border-color: rgba(0, 0, 0, 0.08);