.post-work-list {
  $hover: (
    baseColor: $light-text-color,
    hoverColor: $light-text-color,
    hoverBackColor: $light-blue-color
  );
  @include DDmenuList($top: 53px, $left: 5px, $hover: $hover);
  &__item {
    &:hover > ul {display: block;}
    &--link {
      &:hover {background: $ivory-color;}
    }
  }
}