.illustration-left-box {
  padding: 10px 10px 4px 10px;
  border-bottom: 1px solid $base-border-color;
  &__image {
    display: flex;
    align-items: center;
    width: 80px;
    height: 100px;
  }
}