.l-manage-show-container.m-border-all-1
  = render 'manage/series/operation', series: @illustration_series
  .series-main-contents
    = render 'manage/series/information', series: @illustration_series