.search_header {
  .header-wrapper {
    .search-form-section {
      display: grid;
      grid-template:
        "search-header-areaA search-header-areaB search-header-areaC" 79px
        / 18% 50% 1fr;
      ;
      .search-form {
        grid-area: search-header-areaB;
        &__box {
          display: flex;
          padding: 25px 0 0 0;
          &__select-group {
            position: relative;
            border-radius: 5px;
            &--work_type {
              width: 100px;
              height: 30px;
              padding: 2px 0px 2px 8px;
              margin: 0 auto;
              background: #59b3fd;
              color: white;
              cursor: pointer;
              outline: 0;
            }
            &:after {
              position: absolute;
              display: block;
              content: '';
              width: 8px;
              height: 8px;
              top: 52%;
              right: 9px;
              pointer-events: none;
              margin-top: -3px;
              border-bottom: 2px solid #fff;
              border-right: 2px solid #fff;
              transform: rotate(45deg) translateY(-50%);
              transition: all .4s ease-in-out;
              transform-origin: 50% 0;
            }
          }

          &__text-field-group {
            position: relative;
            margin: 0 5px 0 13px;
            fill: $placeholder-color;
            &--keyword {
              min-width: 396px;
              height: 30px;
              padding: 5px 5px 5px 28px;
              background: $base-gray-color;
              border-radius: 5px;
              border: 1px solid $base-gray-color;
              &:focus{
                outline: none;
                background: white;
                border: 4px solid $light-blue-color;
              }
            }
            .search-icon {
              position: absolute;
              top: 20%;
              left: 7px;
              width: 16px;
              height: 16px;
              pointer-events: none;
              line-height: 16px;
            }
          }
          &__submit-group {
            &__hidden-submit-button {
              padding: 0;
              border: 0;
            }
          }
        }
      }
    }

    .search-result {
      padding: 10px 0 15px 0;
      &--title {
        padding: 0 0 10px 0;
      }
    }
  }
}