.select-group {
  @include selectAllowBottomIcon($right: 9px);
  &__select-work_type {
    width: 100px;
    height: 30px;
    padding: 2px 0px 2px 8px;
    background: $marine-color;
    color: white;
  }
}