%header
  .logo
  %ul.header-list
    - if user_signed_in?
      -# %li.header-list__item
      -#   作品を投稿する
      -#   %ul.
      -#     = link_to '漫画を投稿する'
      -# %li.header-list__item
      -#  = link_to
      -# %li.header-list__item
      -#  = link_to
    - else
      %li.header-list__item
        = link_to "新規登録", sign_up_path
      %li.header-list__item
        = link_to "サインイン", sign_in_path
